*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: black;

}

html, body{
    height: 100%;
    width: 100%;
    perspective: 800px;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: #96c11e2f;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}
#nav{
    height: 150px;
    width: 100%;
    
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 45px;
    justify-content: flex-start;
    position: fixed;
    z-index: 99;
}

#nav img{
    height: 80px;
}
#nav h4{
    text-transform: uppercase;
    color: white;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    
    
}

#page1 h1{
    font-size: 140px;
    font-weight: 900;
    color: white;
    position: relative;
}

#page1 h1::before{
content: "Unwind Your Mind";
position: absolute;
color: black;
top: -6px;
left: -6px;
-webkit-text-stroke: 2px #95C11E;
z-index: -1;
}

#page1 p{
    font-size: 15px;
    font-weight: 500;
    width: 40%;
    color: white;
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    /*background-color: red;*/
    white-space: nowrap;
    overflow-y: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
display: none;
}

#scroller-in-1{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller-in-2{
    display: inline-block;
    white-space: nowrap;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
display: inline-block;
font-size: 140px;
font-weight: 900;
font-family: gilroy;
margin-right: 10px;
transition: all linear 0.5s;
color: transparent;
-webkit-text-stroke: 2px #95C11E;

}

#scroller h4:hover{
    color: #95C11E;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about-us{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 50px;
    position: relative;
    justify-content: space-around;
}

#about-us img{
    height: 300px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
    width: 40%;
    text-align: center;
    
}
#about-us-in h3{
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 40px;
    color: white;
}
#about-us-in p{
    color: white;
    font-size: 20px;
    line-height: 26px;
    
}

#cards-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 70px;
}

.cards{
height: 80%;
width: 24%;
/*background-color: #95C11E;*/
border-radius: 20px;
background-size: cover;
background-position: center;
gap: 70px;
position: relative;
z-index: 10;
overflow: hidden;
transition: all ease 0.6;
}

#card1{
    background-image: url(image3.png);
}
#card2{
    background-image: url(image4.png);
}
#card3{
    background-image: url(image5.png);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #9ed30c;
    padding: 30px;
    padding-top: 100px;
    opacity: 0;
    transition: all ease 0.6;
}

.overlay h4{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;
}

.overlay p{
    color: black;
    font-size: 18px;
}

.cards:hover .overlay{
    opacity: 1;
}

.cards:hover{
    transform: rotate3d(-1,1,0,20deg);
}

#green-div
{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(to left bottom,#07c011,#9ed30c);
    
    
}
#green-div h4{
    width: 45%;
     font-size: 23px;
     font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#page3>p{
    font-size: 30px;
    font-weight: 700;
    width: 70%;
    text-align: center;
    color: white;
    line-height: 45px;
    
}

#page3 img{
    position: absolute;
    height: 60px;

}

#page3 #colon1{
    left: 10%;
    top: 20%;

}

#page3 #colon2{
    right: 10%;
    bottom: 25%;
}

#page4{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.elem{
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.elem h2{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    font-weight: 800;
    font-size: 30px;
    position: absolute;
    z-index: 10;
    
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    transition: all ease 0.5s;
}
.elem:hover h2{
    color: white;
    background-color: transparent;
}

.elem:hover h2{
   scale:1;
}

#page4 h1{
    font-size: 80px;
    position: absolute;
    top: -2%;

    font-weight: 900;
    -webkit-text-stroke: 2px #fff;

}